@model IEnumerable<IBMCAS.Models.Appointment>


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}
<br />
<h2>Today's Appointment</h2>
<br />

<table class="table">
    <tr>
        <th>
            Token Id
        </th>
        <th>
            Physician ID
        </th>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th> Show Details</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentToken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicianID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledTime)
            </td>
            <td>
                <input id ="checkbox-@item.AppointmentToken" type="checkbox"  onclick="loadDetails(@item.AppointmentToken)">
            </td>
        </tr>
        <tr id="details-@item.AppointmentToken" style="display:none;">
            <td colspan="5">Details will be loaded here...</td>
        </tr>
    }

</table>

<script>
    function loadDetails(appointmentToken) {


        if (document.getElementById('checkbox-' + appointmentToken).checked == true) {
            //alert(appointmentToken);

            var jqxhr = $.get('@Url.Action("Details", "Appointment")/' + appointmentToken, function (data) {
                //alert("success");

                $('#details-' + appointmentToken).html(data).show();
            })
                .done(function () {
                   // alert("second success");
                })
                .fail(function () {
                    //alert("error");
                })
                .always(function () {
                    //alert("finished");
                });
        }
        else {
            document.getElementById('details-' + appointmentToken).style.display = "none";
        }

    }
</script>

<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>