@model IBMCAS.Models.PatientDashBoardModel


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<br />
<h2>Today's Appointment</h2>
<br />

@{ Html.RenderPartial("~/Views/Appointment/ListAppointments.cshtml", Model.Appointments);}

<br />
<h2>Pending for Scheduling</h2>
<br />

<table class="table">
    <tr>
        <th>
            Request Token No
        </th>
        <th>
            Physician
        </th>
        <th>
            Date Created
        </th>
        <th>
            Date Requested
        </th>
        <th>
            Note
        </th>
    </tr>

    @foreach (var item in Model.AppointmentRequests)
    {
        if (item.status == 0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentRequestToken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhysicianID) - @Html.DisplayFor(modelItem => item.Physician.PhysicianName)
                </td>
                <td>
                    @item.DateCreated.Date.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.DateRequested.Date.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
            </tr>
        }

    }

</table>