@model IBMCAS.Models.PatientDashBoardModel


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<br />
<h2>Today's Appointment</h2>
<br />

<table class="table">
    <tr>
        <th>
            Token No
        </th>
        <th>
            Physician ID
        </th>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th> Show Details</th>
    </tr>

    @foreach (var item in Model.Appointments)
    {
        if (item.ScheduledDate == DateTime.Today.Date)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentToken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhysicianID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledDate.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScheduledTime):00 
                </td>
                <td>
                    <input id="checkbox-@item.AppointmentToken" type="checkbox" onclick="loadAppointmentDetails(@item.AppointmentToken)">
                </td>
            </tr>
            <tr>
                <td colspan="5" id="details-@item.AppointmentToken" style="display:none;">
                    @{Html.RenderAction("Details", "Appointment", new { id = item.AppointmentToken });}
                </td>
            </tr>
        }

     }

</table>

<br />
<h2>Pending for Scheduling</h2>
<br />

<table class="table">
    <tr>
        <th>
            Request Token No
        </th>
        <th>
            Physician ID
        </th>
        <th>
            Date Created
        </th>
        <th>
            Note
        </th>
    </tr>

    @foreach (var item in Model.AppointmentRequests)
                    {
                        if (item.status == 0)
                        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentRequestToken)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhysicianID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
            </tr>
                        }

                    }

</table>

<script>
    function loadAppointmentDetails(appointmentToken) {


        if (document.getElementById('checkbox-' + appointmentToken).checked == true) {
                document.getElementById('details-' + appointmentToken).style.display = "table-cell";
        }

        else {
            document.getElementById('details-' + appointmentToken).style.display = "none";
        }

    }
</script>

<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>