@model IBMCAS.Models.Patient

@{ 
    Layout = null;
}

<div class="justify-content-center align-content-center m-2">
    <h2>@Html.DisplayFor(model => model.PatientMRNumber)</h2>
    <div class="row">
        <div class="col">
            <b>Name</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientFirstName) @Html.DisplayFor(model => model.PatientLastName)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Email</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientEmail)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Phone No</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientPhone)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Date of Birth</b>
        </div>
        <div class="col">
            : @Model.PatientDOB.Date.ToString("dd-MM-yyyy")
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Gender</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientGender)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Aadhaar Number</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientAadhaarNumber)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Address</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientAddress)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Medical History</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientMedicalHistory)
        </div>
    </div>
    <p class="mt-2">
        <button type="button" class="btn btn-primary">
            <a href="@Url.Action("PatientIndex")" style="color: White; text-decoration: none !important">Back</a>
        </button>
    </p>

</div>
