@model IEnumerable<IBMCAS.Models.Appointment>

@{
    ViewBag.Title = "Apointments";
    Layout = "~/Views/Shared/_LayoutPhysician.cshtml";
}

<h2>Apointments</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentToken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicianID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledTime)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.isVisited)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Advice)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentToken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicianID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledTime)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.isVisited)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Advice)
        </td>*@
        <td>
            <a href="~/Physician/AdvicePrescriptionForm?AppointmentID=@item.AppointmentID"><button>Advice</button></a>
            @*@Html.ActionLink("Edit", "AdvicePrescriptionForm", new { id=item.AppointmentID })*@
            @*<a href="~/Views/Physician/Apointments.cshtml">~/Views/Physician/Apointments.cshtml</a>*@
        </td>
    </tr>
}

</table>
