@model IBMCAS.Models.DrugRequest

@{
    ViewBag.Title = "RequestDrug";
    Layout = "~/Views/Shared/_LayoutPhysician.cshtml";
}

<h2>Request Drug</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            Request Description
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RequestDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            <input type="submit" value="Create" class="btn btn-success" />
            <button type="button" class="btn btn-primary">
                <a href="@Url.Action("Apointments")" style="color: white; text-decoration: none !important">Back</a>
            </button>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
