@model IBMCAS.Models.AppointmentViewModel

<div class="m-2">
    <div class="mb-1">
        <table class="table">
            <tr>
                <th>Appointment Token</th>
                <th>Patient Id</th>
                <th>Patient Name</th>
                <th>Physician Id</th>
                <th>Physician Name</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.appointment.AppointmentToken)</td>
                <td>@Html.DisplayFor(model => model.appointment.PatientID)</td>
                <td>@Html.DisplayFor(model => model.appointment.Patient.PatientFirstName) @Html.DisplayFor(model => model.appointment.Patient.PatientLastName)</td>
                <td>@Html.DisplayFor(model => model.appointment.PhysicianID)</td>
                <td>@Html.DisplayFor(model => model.appointment.Physician.PhysicianName)</td>
            </tr>
        </table>
        <table class="table">
            <tr>
                <th>Scheduled Date</th>
                <th>Scheduled Time</th>
            </tr>
            <tr>
                <td>@Model.appointment.ScheduledDate.Date.ToString("dd-MM-yyyy")</td>
                <td>@Html.DisplayFor(model => model.appointment.ScheduledTime)</td>
            </tr>
        </table>
    </div>
    <div class="mb-1">
        <table class="table">
            <tr>
                <th>Advice</th>
            </tr>
            <tr>
                <td>@Html.DisplayFor(model => model.advice.AdviceText)</td>
            </tr>
        </table>
    </div>
    <div class="mb-1">
        <table class="table">
            <tr>
                <th colspan="3">Precriptions</th>
            </tr>
            <tr>
                <th>
                    Precription ID
                </th>
                <th>
                    Drug Id
                </th>
                <th>
                    Description
                </th>
            </tr>

            @foreach (var item in Model.prescriptions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrescriptionID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DrugID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>