@model IEnumerable<IBMCAS.Models.Appointment>

<table class="table">
    <tr>
        <th>
            Token No
        </th>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Patient MR No
        </th>
        <th>
            Physician Name
        </th>
        <th>Show Details</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentToken)
            </td>
            <td>
                @item.ScheduledDate.Date.ToString("dd-MM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduledTime):00
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientMRNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Physician.PhysicianName)
            </td>
            <td>
                <input id="checkbox-@item.AppointmentToken" type="checkbox" onclick="loadAppointmentDetails(@item.AppointmentToken)">
            </td>
        </tr>
        <tr>
            <td colspan="6" id="details-@item.AppointmentToken" style="display:none;">
                @{Html.RenderAction("Details", "Appointment", new { id = item.AppointmentToken });}
            </td>
        </tr>
    }

</table>

<script>
    function loadAppointmentDetails(appointmentToken) {
        if (document.getElementById('checkbox-' + appointmentToken).checked == true) {
            document.getElementById('details-' + appointmentToken).style.display = "table-cell";
        }

        else {
            document.getElementById('details-' + appointmentToken).style.display = "none";
        }
    }
</script>

