@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section NavBarMenu
{
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">IBMCAS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Advice","Supplier")>
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Advice
                        </a></li>
                    @*<li class="nav-item">
                        <a class="nav-link" href=@Url.Action("MedicineOrdered","Supplier")>
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Medicine Orders
                        </a>
                    </li>*@
                </ul>
         
                   
                <a class="btn btn-primary mx-2" href="@Url.Action("Logout","UserCredential")">Logout</a>
                
                
                @if (User.Identity.IsAuthenticated)
                {
                    IBMCAS.Models.CurrentUserModel usr = Session["CurrentUser"] as IBMCAS.Models.CurrentUserModel;

                    <div class="d-flex" role="search">
                        @*<span>
                            Welcome, <span class="badge text-bg-primary"> @(usr.FirstName + " " + usr.LastName) </span> <span class="badge text-bg-primary"><a class="btn btn-primary" href="@Url.Action("Logout","UserCrd")">Logout</a></span>
                        </span>*@


                    </div>

                    @*<li class="nav-item">
                        <p> Hello @usr.FirstName  @usr.LastName <a class="nav-link" href="@Url.Action("Logout","UserCrd")">Logout</a></p>
                    </li>*@
                }
                else
                {
                        <a class="nav-link" href="@Url.Action("Login","UserCredential")">Login</a>
                    
                }

            </div>
        </div>
    </nav>

}





<div>
    @RenderBody()
</div>
