<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CAS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Options
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">About</a></li>
                            <li><a class="dropdown-item" href="#">Contact Us</a></li>
                            <li><a class="dropdown-item" href="#">Privacy</a></li>
                        </ul>
                    </li>



                </ul>

            </div>

            @if (User.Identity.IsAuthenticated)
            {
                IBMCAS.Models.CurrentUserModel usr = Session["CurrentUser"] as IBMCAS.Models.CurrentUserModel;

                <div class="d-flex" role="search">
                    <span>
                        Welcome, <span class="badge text-bg-primary"> @(usr.UserName) </span> <span class="badge text-bg-primary"><a class="btn btn-primary" href="@Url.Action("Logout","UserCrediantial")">Logout</a></span>
                    </span>


                </div>

                @*<li class="nav-item">
                        <p> Hello @usr.FirstName  @usr.LastName <a class="nav-link" href="@Url.Action("Logout","UserCrd")">Logout</a></p>
                    </li>*@
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Login","UserCrediantial")">Login</a>
                </li>
            }


        </div>
    </nav>


    @RenderSection("NavBarMenu", false)

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>