@model IEnumerable<IBMCAS.Models.Supplier>

@{
    ViewBag.Title = "suppliersList";
    Layout = "~/Views/Shared/_Layoutchemist.cshtml";
}

<h2>suppliersList</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            <button type="button" class="btn btn-outline-success">
                <a href="@Url.Action("PurchaseOrder" , new { id = item.SupplierId })" style="color: black; text-decoration: none !important">Place Order</a>
            </button>
            @*@Html.ActionLink("Place Order", "PurchaseOrder", new { id = item.SupplierId })*@
        </td>
    </tr>
}

</table>
