@model IBMCAS.Models.UserCred
    
@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}


@section Login{
    @using (Html.BeginForm("Login","UserCredential"))
    {
        @Html.AntiForgeryToken()

        <div id="particles-js"></div>
        <body class="login">


            <div id="home_modal" style="position:fixed;top:0;right:0;left:0;bottom:0;z-index:9000;display:none;align-items:center;justify-content:center;background-color:#000;opacity:0.7;">
                <div style="background-color:#fff;width:50%;height:100%;">
                    <div style="width:100%;display:flex;justify-content:end;"><span onclick="closeModal()" style="cursor:pointer;font-size:2rem;">X</div>
                    Hello
                </div>
            </div>

            <div class="container">
                <div class="login-container-wrapper clearfix">

                    <form class="form-horizontal login-form">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-primary "><input type="submit" value="Login" class="btn btn-default" /></button>
                            </div>
                        </div>
                        <br />
                        <div class="checkbox pull-left">
                            <label><input type="checkbox"> Remember</label>
                        </div>
                        <div class="checkbox pull-right">
                            <label> <a class="forget" href="" title="forget">Forgot your password</a> </label>
                        </div>
                    </form>
                </div>

                <h4 class="text-center">
                    <a>
                        <button type="button" class="btn btn-outline-light">@Html.ActionLink("Home", actionName: ("Index"), controllerName: ("Home"))</button>
                    </a>
                </h4>
            </div>

        </body>

        @*<div class="form-horizontal">
                <h4>UserCred</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                </div>
            </div>*@
    }
} 