@model IEnumerable<IBMCAS.Models.Appointment>

@{
    ViewBag.Title = "ApointmentRequests";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ApointmentRequests</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            Token No
        </th>
        <th>
            Patient ID
        </th>
        <th>
           Physician ID
        </th>
        <th>
            Date Created
        </th>
        <th>
            Date Requested
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentToken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicianID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRequested)
        </td>

        <td>
            <button type="button" class="btn btn-outline-warning">
                <a href="@Url.Action("Schedule", new { id = item.AppointmentToken })" style="color: black; text-decoration: none !important">Schedule</a>
            </button>
            <button type="button" class="btn btn-outline-danger">
                <a href="@Url.Action("AppointmentRemove", new { id = item.AppointmentToken })" style="color: black; text-decoration: none !important">Remove</a>
            </button>
        </td>
    </tr>
}

</table>
