@model IEnumerable<IBMCAS.Models.chemist>

@{
    ViewBag.Title = "chemistIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chemist Management Page</h2>

@*<p>
    <button type="button" class="btn btn-primary">
        <a href="@Url.Action("chemistCreate")" style="color:white; text-decoration: none !important">Add new chemist</a>
    </button>
</p>*@

@*<p>
    @Html.ActionLink("Create New", "chemistCreate")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.chemistName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chemistPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chemistEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.chemistAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChemistDateOfBirth)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.chemistName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chemistPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chemistEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.chemistAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChemistDateOfBirth)
        </td>
        <td>
            <button type="button" class="btn btn-outline-primary">
                <a href="@Url.Action("editChemist", new { id = item.chemistId })" style="color: black; text-decoration: none !important">Edit</a>
            </button>
            <button type="button" class="btn btn-outline-secondary">
                <a href="@Url.Action("DetailsChemist", new { id = item.chemistId })" style="color: black; text-decoration: none !important">Details</a>
            </button>
            @*<button type="button" class="btn btn-outline-danger">
                <a href="@Url.Action("Delete", new { id = item.chemistId })" style="color: black; text-decoration: none !important">Delete</a>
            </button>*@
            @*@Html.ActionLink("Edit", "Edit", new { id = item.chemistId }) |
            @Html.ActionLink("Details", "Details", new { id = item.chemistId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.chemistId })*@
        </td>
    </tr>
}

</table>
