@model IBMCAS.Models.chemist

@{
    ViewBag.Title = "chemistCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="mt-2">Add Chemist</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            Name
            <div class="col-md-10">
                @Html.EditorFor(model => model.chemistName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chemistName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Phone Number
            <div class="col-md-10">
                @Html.EditorFor(model => model.chemistPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chemistPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Email
            <div class="col-md-10">
                @Html.EditorFor(model => model.chemistEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chemistEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Address
            <div class="col-md-10">
                @Html.EditorFor(model => model.chemistAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chemistAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Date Of Birth
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChemistDateOfBirth, new { htmlAttributes = new { @class = "form-control", type="date" } })
                @Html.ValidationMessageFor(model => model.ChemistDateOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            
                <input type="submit" value="Create" class="btn btn-success" />
            
            <button type="button" class="btn btn-primary" >
                <a href="@Url.Action("chemistIndex")" style="color: White; text-decoration: none !important">Back</a>
            </button>
        </div>
    </div>
}

<script src="~/Scripts/jquery-3.7.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
