@model IBMCAS.Models.PatientRegistrationQueue

@{
    ViewBag.Title = "EditRegistrationRequest";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit Registration Request</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <input type="hidden" name="PRQID" value="@Model.PRQID" />
        <div class="form-group">
            Registration Token No
            <div class="col-md-10">
                @Html.DisplayFor(model => model.RegistrationTokenNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegistrationTokenNo, "", new { @class = "text-danger" })
                <input type="hidden" name="RegistrationTokenNo" value="@Model.RegistrationTokenNo" />
            </div>
        </div>

        <div class="form-group">
            Date Created
            <div class="col-md-10">
                @Html.DisplayFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })

                <input type="hidden" name="DateCreated" value="@Model.DateCreated" />
                @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Date Of Birth
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientDOB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PatientDOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            First Name
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientFirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PatientFirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Last Name
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientLastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PatientLastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Address
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PatientAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Patient Phone
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PatientPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Email
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PatientEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Gender
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientGender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PatientGender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
           Medical History
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientMedicalHistory, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PatientMedicalHistory, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Aadhaar Number
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientAadhaarNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PatientAadhaarNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group mt-2">
            
                <input type="submit" value="Save" class="btn btn-success" />
               <button class="btn btn-primary" href=@Url.Action("RegistrationRequests", "Admin")>Back</button>
            
        </div>
    </div>
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
