@model IBMCAS.Models.PatientRegistrationQueue

@{
    ViewBag.Title = "ShowOneRegistrationRequest";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="justify-content-center align-content-center m-2">
    <h2>@Html.DisplayFor(model => model.RegistrationTokenNo)</h2>
    <p>@Model.DateCreated.Date.ToString("dd-MM-yyyy")</p>
    <div class="row">
        <div class="col">
            <b>First Name</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientFirstName)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Last Name</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientLastName)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Email</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientEmail)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Phone No</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientPhone)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Date of Birth</b>
        </div>
        <div class="col">
            : @Model.PatientDOB.Date.ToString("dd-MM-yyyy")
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Gender</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientGender)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Aadhaar Number</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientAadhaarNumber)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Address</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientAddress)
        </div>
    </div>
    <div class="row">
        <div class="col">
            <b>Medical History</b>
        </div>
        <div class="col">
            : @Html.DisplayFor(model => model.PatientMedicalHistory)
        </div>
    </div>
    <p class="mt-2">
        <button type="button" class="btn btn-outline-warning">
            <a href="@Url.Action("EditRegistrationRequest", new { id = Model.RegistrationTokenNo })" style="color: black; text-decoration: none !important">Edit</a>
        </button>
        @*@Html.ActionLink("Edit", "EditRegistrationRequest", new { id = Model.RegistrationTokenNo })*@
        <button type="button" class="btn btn-outline-success">
            <a href="@Url.Action("ApproveRegistrationRequest", new { id = Model.RegistrationTokenNo })" style="color: black; text-decoration: none !important">Approve</a>
        </button>
        @*@Html.ActionLink("Approve", "ApproveRegistrationRequest", new { id = Model.RegistrationTokenNo })*@
        <button type="button" class="btn btn-outline-danger">
            <a href="@Url.Action("RejectRegistrationRequest", new { id = Model.RegistrationTokenNo })" style="color: black; text-decoration: none !important">Reject</a>
        </button>
        @*@Html.ActionLink("Reject", "RejectRegistrationRequest", new { id = Model.RegistrationTokenNo })*@
        <button type="button" class="btn btn-primary">
            <a href="@Url.Action("RegistrationRequests")" style="color: White; text-decoration: none !important">Back</a>
        </button>
        @*@Html.ActionLink("Back to List", "RegistrationRequests")*@
    </p>

</div>