@model IBMCAS.Models.PatientRegistrationQueue

@{
    ViewBag.Title = "ShowOneRegistrationRequest";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ShowOneRegistrationRequest</h2>

<div>
    <h4>PatientRegistrationQueue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationTokenNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationTokenNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientMedicalHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientMedicalHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientAadhaarNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAadhaarNumber)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-outline-warning">
        <a href="@Url.Action("EditRegistrationRequest", new { id = Model.RegistrationTokenNo })" style="color: black; text-decoration: none !important">Edit</a>
    </button>
    @*@Html.ActionLink("Edit", "EditRegistrationRequest", new { id = Model.RegistrationTokenNo })*@
    <button type="button" class="btn btn-outline-success">
        <a href="@Url.Action("ApproveRegistrationRequest", new { id = Model.RegistrationTokenNo })" style="color: black; text-decoration: none !important">Approve</a>
    </button>
    @*@Html.ActionLink("Approve", "ApproveRegistrationRequest", new { id = Model.RegistrationTokenNo })*@
    <button type="button" class="btn btn-outline-danger">
        <a href="@Url.Action("RejectRegistrationRequest", new { id = Model.RegistrationTokenNo })" style="color: black; text-decoration: none !important">Reject</a>
    </button>
    @*@Html.ActionLink("Reject", "RejectRegistrationRequest", new { id = Model.RegistrationTokenNo })*@
    <button type="button" class="btn btn-primary">
        <a href="@Url.Action("RegistrationRequests")" style="color: White; text-decoration: none !important">Back</a>
    </button>
    @*@Html.ActionLink("Back to List", "RegistrationRequests")*@
</p>
