@model IBMCAS.Models.PatientRegistrationQueue

@{
    ViewBag.Title = "ShowOneRegistrationRequest";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ShowOneRegistrationRequest</h2>

<div>
    <h4>PatientRegistrationQueue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationTokenID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationTokenID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientMedicalHistory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientMedicalHistory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientAadhaarNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAadhaarNumber)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditRegistrationRequest", new { id = Model.RegistrationTokenID }) |
    @Html.ActionLink("Approve", "ApproveRegistrationRequest", new { id = Model.RegistrationTokenID }) |
    @Html.ActionLink("Reject", "RejectRegistrationRequest", new { id = Model.RegistrationTokenID }) |
    @Html.ActionLink("Back to List", "RegistrationRequests")
</p>
