@model IEnumerable<IBMCAS.Models.PurchaseOrderProductLine>

@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_LayoutSupplier.cshtml";
}

<h2>OrderList</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseOrderId)
        </th>
        <th>
           Drug Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortNote)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drug.DrugName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortNote)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseOrderProductLineId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.PurchaseOrderProductLineId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseOrderProductLineId })
                </td>*@
        </tr>
    }

</table>

<div class="form-group m-2">
    <button type="button" class="btn btn-primary">
        <a href="@Url.Action("Index")" style="color: white; text-decoration: none !important">Back</a>
    </button>
</div>
